@charset "utf-8";

#main {
    width: 600px;
    margin:20px 0 0 100px;
    font-family: 'Microsoft YaHei';
}
#title {
    position: relative;
    height: 28px;
    margin-left: 20px;
	margin-bottom:10px;
}
#title span {
    margin:0 10px;
}
#title span:hover {
    color: dodgerblue;
    cursor: pointer;
}
#select{
    width: 600px;
    overflow: hidden;
}
#select select {
    position: relative;
    float: left;
    top:0px;
    left: 20px;
    width: 150px;
    height: 28px;
}
#select div {
    position: relative;
    float: right;
    right: 20px;
    color: dodgerblue;
    height: 28px;
}
#msg {
    text-align: right;
    color:red;
}
#container {
    width: 1300px;
    overflow: hidden;
    margin-left: 100px;
}
#container span {
    display: none;
    width: 600px;
    height: 28px;
    margin-left: 20px;
    text-align: center;
    font-weight: 600;
}
#chart,#chart2 {
    float: left;
    width: 600px;
    height:400px;
    margin-left: 20px;
}
.tjfx_selected {
    color: dodgerblue;
}
