@charset "utf-8";

#main {
    width: 500px;
    overflow: hidden;
    margin-top: 30px;
}
#title select {
    position: relative;
    float: left;
    top:0px;
    left: 20px;
    width: 80px;
    height: 28px;
}
#subtitle {
    position: relative;
    float: right;
    top:0px;
    right: 10px;
    height: 28px;
}
#subtitle span {
    margin:0 10px;
}
#subtitle span:hover {
    color: dodgerblue;
    cursor: pointer;
}